---
Checks: '-*,
        bugprone-*,
        clang-diagnostic-*,
        clang-analyzer-*,
        modernize-*,
        performance-*,
        portability-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
        -cppcoreguidelines-avoid-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExtraArgs: [
  '-std=c++20',
  '-Iinclude',
  '-IAlgorithms/CumulativeProduct'
]